.widget {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
}

.chart-wrapper {
    flex: 1 0 0;
    position: relative;
}

@keyframes base-spinner-animation {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.spinner {
    position: relative;
    width: 16px;
    height: 16px;
    color: deepskyblue;
}
.ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 50%;
}
.ring.part {
    border-color: currentColor transparent transparent transparent;
    animation: base-spinner-animation 1s linear infinite;
}
.ring.full {
    border-color: var(--base-spinner-ring-backrgound-color, currentColor);
    opacity: var(--base-spinner-ring-opacity, 0.5);
}

/*.chart-container {*/
    /*flex: 1 0 0;*/
    /*flex-direction: column;*/
    /*display: flex;*/
/*}*/

/*.chart-container > div {*/
    /*flex: 1 0 0;*/
    /*position: relative;*/
/*}*/